#bigheader {
  font-size: 250%;
  text-align: center;
}

#subtitle {
  text-align:center;
}

#articleheader {
  font-size: 150%;
  margin-top: 0;
  width: 400px;
  float: left;
}

#authorheader {
  font-size: 150%;
  margin-top: 0;
  width: 400px;
  float: left;
}

#newarticle {
  float: left;
}

#newauthor {
  float: left;
}

#articletable {
  clear:both;
}

#authortable {
  clear:both;
}


#articletable table {
  border-collapse: collapse;
}

#articletable {
  width: 900px;
}

th {
  background: #888;
  text-align: left;
  border-top: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  padding-left: 5px;
}

.list-line-even {
  background:   #ccc;
}

.list-line-odd {
  background:   #fff;
}

#articletable td{
  height: 30px;
  padding-left: 5px;
  padding-right: 5px;
}

#auth_art_table {
  border-collapse: collapse;
}

.auth_art {
  border: 1px solid;
}

.lrborder {
  border-left: 1px solid;
  border-right: 1px solid;
}

.white {
  background: #fff;
  border-left: none;
  border-right: none;
  border-top: none;
}



a image {
  border: 0;
  background: #fff;
  color: #fff;
}

a:hover image {
  text-decoration: none;
  background-color: #fff;
}

a{
  color: #000;
  text-decoration: none;
}

ul.menubar {
  list-style-type: none;
  margin: 0px 0px 20px 0px;
  padding: 10px;
  background-color: #F0F0F0;
}

ul.menubar li {
  display: inline;
  margin-right: 100px;
}

img {
  border: 0;
}