#user_nav {
  float: right;
  font-size: 12px;
}

.list-line-even {
  background:   #ccc;
}

.list-line-odd {
  background:   #fff;
}


ul.menubar {
  list-style-type: none;
  margin: 0px 0px 20px 0px;
  padding: 10px;
  background-color: #F0F0F0;
}

ul.menubar li {
  display: inline;
  margin-right: 100px;
}

th {
  background: #888;
  text-align: left;
  border-top: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  padding-left: 5px;
}

h1 {
  clear: both;
  text-align: center;
}

table {
  border-collapse: collapse;
  align: center;
}

td {
  border-left: 1px solid;
  border-right: 1px solid;
  padding-right: 5px;
  padding-left: 5px;
}

#notice { background-color: #A4E7A0; border: 1px solid #26722D; }
#error { background-color: #F0A8A8; border: 1px solid #900; }
#notice, #error { width: 90%; margin: 0 auto 10px auto; padding: 5px; }
#notice p, #error p { margin-left: 20px; padding: 0; color: #000; }
#notice a, #error a { text-decoration: none; padding: 0 3px; }
#notice a { border: 1px solid #26722D; color: #26722D; }
#error a { border: 1px solid #900; color: #900; }
#notice a:hover, #error a:hover { color: #333; border: 1px solid #333; }
