body {
  background-color: #AAAAAA;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
}

#main {
  border-style: solid;
  border-width: 1px;
  padding: 0px;
  width: 960px;
  margin: 0 auto;
}

div.clear {
  line-height: 0;
  clear: both;
}

#header {
  background-color: #CCCCCC;
}

h1 {
  margin: 0 0 0 0;
  padding-top: 5px;
  padding-left: 5px;
  letter-spacing: -2px;
}

h2 {
  margin: 0 0 0 0;
}

div#sidebar h3 {
  margin: 5px 5px 5px 5px;
}

div#sidebar p {
  margin: 16px 5px 25px 5px;
}

div#header p {
  color: #66666F;
  margin: 0 0 0 0;
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 80%;
}

#form {
  background-color: #FFFFFF;
}

#sidebar {
  background-color: #F0F0FF;
  float: right;
  margin: 10px 10px 10px 10px;
}

#footer {
  background-color: #F0F0F0;
}

#footer p {
  margin: 0 0 0 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 75%;
}

#links {
  background-color: #000000;
}

ul#list-nav {
  list-style:none;
  margin: 0 0 0 0;
  padding: 0;
}

ul#list-nav li {
  display:inline
}

ul#list-nav li a {
  text-decoration:none;
  padding:10px;
  padding-right:25px;
  background:#000000;
  color:#FFFFFF;
  float:left;
  text-align:left;
}

ul#list-nav li a:hover {
  color:#FF0000;
}

#tablerow {
  margin: 0 auto;
}

#buttonrow {
  padding-top: 16px;
  padding-bottom: 16px;
}

#feelrow {
  vertical-align:top
}